header{
    display: flex;
    background: #201b2c;
    height: 10vh;
    color: #77ffc0;
    justify-content: space-between;
    padding:10px 30px;
    align-items: center;
}
.User{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    font-size: 20px;
    
    
}
.User button{
    background: none;
    color: #77ffc0;
    border: none;
    font-size: 20px;
    
    cursor: pointer;
}

    
    
    
    
